{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}
    <title>C$50 Finance:
        Password Change
    </title>
    {# Creates password change form #}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="passwordchange" placeholder="New Password" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="passwordchange(again)" placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}